
@{
    ViewBag.Title = "AddUser";
}

<h2>Add User</h2>
</br>
<div>
   <form action="/User/AddUser", method="post">

       <input type="text" name="Name" placeholder="Enter name"/>
       <input type="submit" name="Command" value="Add User"/>
   </form>
 </div>

